GOOGLE_IOS_SDK_API_KEY =AIzaSyC1eP-6HYcd1kxYK7ZByxbamknh7-C2lls
GOOGLE_IOS_CLIENT_ID = 1073454847263-0nndl2d8pjg3u8u6bu5cgsqh88cnpkmc.apps.googleusercontent.com
GOOGLE_IOS_REVERSED_CLIENT_ID = com.googleusercontent.apps.1073454847263-0nndl2d8pjg3u8u6bu5cgsqh88cnpkmc
GOOGLE_SERVER_CLIENT_ID = 1073454847263-v1qhhis11acdtolvkcrs9u8e3vqfp5cl.apps.googleusercontent.com
